# Keil User/Build files
*.o
*.d
*.crf
*.lnp
*.axf
*.htm
*.build_log.htm
*.dep
*.map
*.uvoptx
*.uvguix.*

.vscode/*.log
.vscode/*.log.lock

# Folders
Objects/
Listings/
DebugConfig/
RTE/

# Archives
*.zip